.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

#start {
  overflow: hidden;
  background-color: yellow;
  border: none;
  width: 100vw;
}

#start div button {
  width: 150px;
  height: 50px;
  font-weight: bold;
  font-family: sans-serif;
  border: 0;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#start div button:hover {
  background-color: rgba(255, 0, 0, 1);
}

#start div button:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.brand {
  opacity: 0.8;
  z-index: -1;
  width: 80%;
}

.menu, .align-item-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-item-horizontal > * {
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
}


.socialLink a {
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.socialLink a img {
  width: 32px;
  height: 32px;
  margin: 10px;
}

.socialLink a p {
  font-weight: bold;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.currentScore {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 3.5vw;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.grid {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: calc(100% / 48);
  height: calc(100% / 27);
  box-sizing: border-box;
  /* border: 1px solid black; */
  /* Additional styling for the squares */
}

.snake {
  background-color: black;
}

.head {
  background-color: red;
}

.apple {
  background-color: green;
}

#arrow-container {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  margin-left: auto;
  margin-right: auto;

  width: 700px;
  height: 700px 
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;}

.btn-direction {
  background: rgba(0, 0, 0, 0);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border: none;
  cursor: pointer;
}

@keyframes click-arrow {
  0% { opacity: 0.2;
   filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="red-filter" color-interpolation-filters="sRGB"><feColorMatrix type="matrix" values="1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/></filter></svg>#red-filter');
  }
  25% { opacity: 0.4; 
   filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="red-filter" color-interpolation-filters="sRGB"><feColorMatrix type="matrix" values="1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/></filter></svg>#red-filter');
  }
  50% { opacity: 0.8; 
   filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="red-filter" color-interpolation-filters="sRGB"><feColorMatrix type="matrix" values="1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/></filter></svg>#red-filter');
  }
  100% { opacity: 0.3; filter: none;}
}



.btn-direction:focus {
  animation: click-arrow 1s ;  
}

.btn-direction img {
  opacity: 0.3;
  width: 200px;
  height: 200px;
  user-drag: none;
  draggable: false;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


#arrow-up {
  transform: rotate(180deg);
  margin-left: 250px;
  margin-right: 250px;
}

#arrow-down {
  margin-left: 250px;
  margin-right: 250px;
}

#arrow-left {
  transform: rotate(90deg);
  margin-right: 90px;
  margin-left: 55px;
}

#arrow-right {
  transform: rotate(270deg);
  margin-left: 90px;
}

@media (min-width: 1025px) {
  .stat-container {
    display: flex;
    align-items: center;
    justify-content: center;  
  }

  .socialLink {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #arrow-container {
    display: none;
  }

  #arrow-container button {
    display: none;
  }
}

@media (max-width: 1025px) {
  .keybind {
    display: none;
  }


  #score {
    margin-right: 50%;
  }
  #highScore {
    width: 50%;
    height: 90vh;
  }

  .menu {
  display: grid;
}

  .menu h2 {
  width: 400px;
  font-size: 40px;
  }

  .menu h2:first-of-type {
    margin-left: 190px;
  }
  .menu h2:nth-of-type(2) {
    margin-left: 20px;
  }

  #start div button {
  grid-column: span 2; /* Spans both columns */
  justify-self: center; /* Centers horizontally */
  margin-top: 30px;
  margin-bottom: 30px;
  width: 300px;
  height: 100px;
  font-size: 50px;
  }

  .socialLink {
    display: inherit;
  }

  .socialLink a {
    display: flex;
    align-items: left;
    justify-content: left;
    height: 90px;
    text-decoration: none;

  }

  .socialLink a img {
    width: 80px;
    height: 80px;
    margin: 10px;
  }

  .socialLink a p {
    font-size: 40px;
  }
}
